@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('../fonts/Cocogoose\ Pro-trial.ttf');

:root {
  --color-primary: #272a31;
  --color-secondary: #ec5242;
  --color-tertiary: #d3d3d3;
  --color-grey: #46494f;
  --color-grey2: #64686d;
  --color-cards: #d3d3d324;
  --header-font: 'Cocogoose';
  --body-font: 'Lato', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

li {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.greyText {
  color: var(--color-grey2);
}

/* Top Header */
.topLinks {
  background-color: var(--color-primary);
  padding: 5px 100px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

nav ul li a {
  color: var(--color-primary);
}

.programCard i {
  font-size: 3em;
  padding-top: 20px;
  color: var(--color-tertiary);
}

.topLinks a i,
.topLinks a {
  color: var(--color-tertiary);
}

/* Navigation */
.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

.nav-menu {
  display: flex;
  gap: 50px;
  align-items: center;
}

#logo {
  width: 50%;
  height: 50%;
  animation: rotations 2s;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: var(--color-secondary);
}

.activeLink {
  color: rgb(255, 73, 37);
}

.headBtn {
  padding: 10px 10px;
  background-color: #fff;
  border: 2px solid var(--color-secondary);
}

.headBtn a {
  color: var(--color-secondary);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 35px;
  height: 5px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--color-primary);
}

/* Headline */
#main {
  background: url(../assets/bg.png) no-repeat center center;
}

.headline {
  padding: 100px;
  color: var(--color-primary);
}

.titleHead {
  width: 70%;
}

.titleHead h2 {
  color: var(--color-secondary);
  font-weight: 400;
}

.titleHead h1 {
  -webkit-background-clip: text;
  background-image: url(https://w0.peakpx.com/wallpaper/194/474/HD-wallpaper-red-and-orange-texture-red-aesthetic.jpg);
  color: transparent;
  background-position: center right;
  font-weight: 900;
  font-size: 60px;
}

.descHead {
  color: var(--color-primary);
  background-color: rgb(245, 245, 245);
  padding: 2%;
  border: 3px solid #fff;
  margin: 2% 0;
  line-height: 2;
}

.venueHead {
  color: var(--color-primary);
}

.dateHead h3 {
  font-size: 2rem;
  font-weight: 800;
  color: var(--color-primary);
  line-height: 2;
}

/* Program */
.program {
  background: #272a31 url(../assets/polka-dots.svg);
}

.program h2 {
  text-align: center;
  color: var(--color-tertiary);
  padding-top: 40px;
}

.program h2::after {
  content: '';
  display: block;
  position: relative;
  margin: 10px auto;
  width: 2.3em;
  height: 1px;
  border-bottom: 1px solid var(--color-secondary);
}

.programDiv {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  padding: 20px 10rem;
}

.programCard {
  background-color: #454850;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.programName {
  font-size: 1.35em;
  font-weight: 800;
  color: var(--color-secondary);
}

.programDesc {
  color: var(--color-tertiary);
  font-size: 14px;
  padding: 0 0.5rem 0.5rem;
}

.programBtn {
  display: none;
}

.programLink {
  display: block;
  color: #fff;
  font-weight: normal;
  font-size: 1em;
  text-decoration: underline;
  text-align: center;
  padding: 4em 0 5em;
}

/* Featured Section */
.speakers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 5% 10%;
}

.speakers-elt {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.speaker-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.speakers .desc {
  font-style: italic;
  color: rgb(255, 73, 37);
}

.speaker-wrap img {
  width: 100px;
  height: 100px;
  background-image: url('../assets/speaker_bg.jpg');
  background-repeat: no-repeat;
  background-size: 40px;
  padding: 10px;
  object-fit: cover;
}

.presentation {
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
}

.presentation h4 {
  font-size: 1rem;
}

.speakers hr {
  width: 3%;
  border: 1px solid rgb(255, 73, 37);
  margin-top: 10px;
}

.speaker-wrap p {
  color: black;
  font-size: 0.8em;
}

.speaker-wrap hr {
  border: 1px solid rgb(179, 175, 175);
  margin: 5px 0;
  width: 5%;
}

.speakers-btn {
  display: none;
}

/* Footer Section */
footer {
  display: inline;
}

.partners {
  background: var(--color-grey);
  color: var(--color-tertiary);
  padding: 10px 100px;
}

.partner-title p {
  font-weight: 600;
  font-size: 1.5em;
  align-self: center;
  text-align: center;
  margin-top: 1em;
}

.partner-title::after {
  content: '';
  display: block;
  position: relative;
  margin: 0 auto;
  top: 10px;
  width: 2.5em;
  height: 1px;
  background: var(--color-secondary);
}

.partner-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.partner-group > p {
  margin: 1em 0.3em;
}

.mozilla {
  font-size: 1.7em;
}

.naver {
  font-size: 1.7em;
  font-weight: 900;
}

.google {
  font-size: 1.7em;
  font-weight: 300;
}

.fa-airbnb {
  font-size: 1em;
}

.footer-right-reserved {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3em 7em;
}

.footer-logo {
  display: flex;
  align-items: center;
  font-size: 1em;
  width: 50%;
}

.footer-logo p {
  font-size: 2em;
  font-weight: 900;
  line-height: 0.7em;
  margin-left: 4px;
  max-width: 250px;
}

.footer-logo .far {
  font-size: 3em;
}

.footer-paragraph-right-reserved {
  font-size: 1em;
  line-height: 1.5em;
}

/* Media Query */
@media (max-width: 768px) {
  body {
    padding: 0;
  }

  /* Navigation Section */
  .topLinks,
  #logo {
    display: none;
  }

  .hamburger {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
    background-color: var(--color-tertiary);
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: var(--color-tertiary);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: var(--color-tertiary);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 0;
    gap: 0;
    flex-direction: column;
    background: rgba(42, 62, 240, 0.8);
    backdrop-filter: blur(5px);
    height: 100vh;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    align-items: flex-end;
    padding: 50px 30px;
  }

  .nav-item {
    margin-top: 30px;
  }

  .nav-menu.active {
    left: 0;
  }

  nav ul li a {
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: var(--color-tertiary);
  }

  #menuBtn.active .bar {
    background-color: var(--color-secondary);
  }

  /* Headline Section */
  #main {
    background: url(../assets/bg-mobile.png) no-repeat right center;
    margin: -100px;
    margin-bottom: 0;
  }

  .titleHead {
    padding: 30px 20px;
    width: 100%;
  }

  .titleHead h1 {
    font-size: 35px;
  }

  .dateHead {
    padding: 0 20px;
  }

  .dateHead h3 {
    margin-top: -25px;
    font-size: 1.5rem;
    line-height: 1.5;
  }

  /* Program Section */
  .programDiv {
    grid-template-columns: repeat(1, 1fr);
    padding: 20px;
    gap: 10px;
  }

  .programCard {
    flex-direction: row;
    gap: 15px;
    padding: 20px;
    justify-items: center;
    justify-self: center;
  }

  .programCard i {
    font-size: 2em;
    padding-top: 20px;
  }

  .programName {
    font-size: 1em;
    font-weight: 800;
    color: var(--color-secondary);
    width: 100%;
  }

  .programDesc {
    color: var(--color-tertiary);
    font-size: 12px;
    padding: 0;
  }

  .programBtn {
    display: block;
    padding: 1.5em;
    margin: 25px;
    background: var(--color-secondary);
    color: #fff;
    font-size: 1.1em;
    font-weight: bold;
    border: none;
  }

  .programLink {
    display: none;
  }

  /* Featured Section */
  .speakers {
    margin: 5% 0;
  }

  .speakers-elt {
    grid-template-columns: repeat(1, 1fr);
  }

  .speakers hr {
    width: 9%;
  }

  .speaker-wrap img {
    width: 100px;
    height: 100px;
    background-image: url('./assets/speaker_bg.jpg');
    background-repeat: no-repeat;
    background-size: 55px;
    padding: 15px;
    object-fit: cover;
  }

  .speaker-wrap hr {
    margin: 10px 0;
  }

  .speakers-btn {
    display: flex;
    padding: 0.8em 7em;
    margin-top: 2em;
    border: 3px var(--color-grey2) solid;
    color: var(--color-primary);
    font-weight: bold;
    font-size: 1.1em;
  }

  .speakers-btn .fas {
    color: var(--color-secondary);
    margin-left: 10px;
  }

  /* Footer Section */
  footer {
    display: none;
  }
}
