@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('../fonts/Cocogoose\ Pro-trial.ttf');

:root {
  --color-primary: #272a31;
  --color-secondary: #ec5242;
  --color-tertiary: #d3d3d3;
  --color-cards: #d3d3d324;
  --header-font: 'Cocogoose';
  --body-font: 'Lato', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

li {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

/* Top Header */
.topLinks {
  background-color: var(--color-primary);
  padding: 5px 100px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

nav ul li a {
  color: var(--color-primary);
}

.topLinks a i,
.topLinks a {
  color: var(--color-tertiary);
}

/* Navigation */
.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

.nav-menu {
  display: flex;
  gap: 50px;
  align-items: center;
}

#logo {
  width: 50%;
  height: 50%;
  animation: rotations 2s;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: var(--color-secondary);
}

.activeLink {
  color: rgb(255, 73, 37);
}

.headBtn {
  padding: 10px 10px;
  background-color: #fff;
  border: 2px solid var(--color-secondary);
}

.headBtn a {
  color: var(--color-secondary);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--color-primary);
}

/* Media Query */
@media (max-width: 768px) {
  /* Navigation Section */
  .topLinks,
  #logo {
    display: none;
  }

  .hamburger {
    display: block;
    position: absolute;
    top: 0;
    padding: 20px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
    background-color: var(--color-tertiary);
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: var(--color-tertiary);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: var(--color-tertiary);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 0;
    gap: 0;
    flex-direction: column;
    background: rgba(236, 82, 66, 0.8);
    backdrop-filter: blur(6px);
    height: 100vh;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    align-items: flex-end;
    padding: 50px 30px;
  }

  .nav-item {
    margin-top: 30px;
  }

  .nav-menu.active {
    left: 0;
  }

  nav ul li a {
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: var(--color-tertiary);
  }

  #menuBtn.active .bar {
    background-color: var(--color-secondary);
  }
}
